<header class="header_dashboard bg-dark">
    <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
    <h1 class="text-primary"><%= library.name %></h1>
    <button class="btn btn-secondary">Sections</button>
    <button class="btn btn-secondary">Browse</button> 
</header>
