<header class="header_dashboard bg-dark">
    <button class="btn btn-secondary">Menu</button>
    <h1 class="text-primary"><%= library.name %></h1>
    <button class="btn btn-secondary">Sections</button>
    <button class="btn btn-secondary">Browse</button> 
</header>
