<div id="read_createchapter_modal" class="modal">
    <div class="modal-dialog border border-secondary rounded">
        <div class="modal-content bg-dark">
            <div class="modal-header text-light">
                <h3 class="modal-title">Create New Chapter</h3>
            </div>
            <div class="modal-body text-light">
                <form action="/chapter/create/<%=book.id%>" method="POST">
                    <div class="mb-3">
                        <label for="create_chapter_name" class="form-label">Chapter Name</label>
                        <input type="text" name="name" class="form-control" id="create_chapter_name" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Create Chapter</button>
                </form>
            </div>
        </div>
    </div> 
</div>
