<main id="reader_viewport" class="container border border-danger mt-4 mb-4 flex-grow-1 p-3">
    <div class="row h-100 justify-content-center">
        <div class="col-1 d-flex flex-column justify-content-end">
            <p>CHAPTER LIST</p>
            <a href="<%= prevChapter %>"class="btn btn-primary mb-5">Prev</a>
        </div>
        <div id="reader_page" class="col-6 border border-dark p-4">
            <div id="reader_page_content">
                <%- htmlOutput %>
            </div>
            <div id="reader_page_markdown" class="hidden">
                <textarea id="reader_editor_textarea" cols="80" rows="40" style="resize: none">
                </textarea>
            </div>
        </div>
        <div class="col-1 d-flex flex-column justify-content-end">
            <a href="<%= nextChapter %>" class="btn btn-primary mb-5">Next</a>
        </div>
    </div>
    <button id="reader_edit">Edit</button>
    <button id="reader_save">Save Changes</button>
</main>
