<footer class="text-light bg-dark row justify-content-between p-1">
    <div class="col-2">
        <button class="btn btn-outline-primary">Chapter List</button>
    </div>
    <div id="editor_closed" class="col-2">
        <button id="reader_openEditor" class="btn btn-success w-100">Edit</button> 
    </div>
    <div id="editor_open" class="col-2 hidden">
        <button id="reader_save" class="btn btn-success mx-1 w-50">Save</button> 
        <button id="reader_closeEditor" class="btn btn-outline-danger mx-1 w-50">Cancel</button>
    </div>
    <div class="col-2">
        <button id="reader_createchapter" class="btn btn-success w-100">New Chapter</button>
    </div>
</footer>
