<main id="reader_viewport" class="d-flex">
    <div class="reader_page_button">
        <a href=""><i class="bi bi-chevron-left"></i></a>    
    </div>
    <div id="reader_page" class="p-3 rounded">
        <div id="reader_page_content">
            <%- htmlOutput %>
        </div>
        <div id="reader_page_markdown" class="rounded border h-100 w-100 hidden">
            <textarea id="reader_editor_textarea">
            </textarea>
        </div>
    </div>
    <div class="reader_page_button">
        <a href=""><i class="bi bi-chevron-right"></i></a>    
    </div>
</main>
