<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Dashboard</title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	</head>

	<body>
        <header>
            <button><a href="/dashboard">Go Back</a></button>
        </header>
        <main>
            <div class="reader_page" style="width: 60rem; margin: auto; border:
                2px solid black; padding: 1rem;">
                <%- doc.output %>
            </div>
        </main>
	</body>
</html>

