#page_container_dashboard {
    background-image: url("https://images.pexels.com/photos/763135/pexels-photo-763135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

#page_wrapper_dashboard {
    background-color: rgba(#000000, 0.7);
}

#cover_dashboard {
    background-color: rgba(#000000, 0.5);
    box-shadow: 0 0 24px 2px black inset;
    z-index: -1;
}
