#page_container_library {
    background-color: #303d3b;
    background-attachment: fixed;
    background-size: cover;
}

#library_browse_container {
    background-color: rgba(#000000, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.book_listitem {
    width: 95%;
}

#library_footer {
    background-color: rgba(#000000, 0.3);
}

#cover_library {
    background-color: rgba(#000000, 0.3);
    box-shadow: 0 0 24px 24px black inset;
    z-index: -1;
}

.book_listitem {
    border: 1px solid darkgray;
}
