//#body_login {
//        
//}
//
//#main_login {
//    display: flex;
//    height: 100vh;
//    justify-content: flex-start;
//}
#page_container_login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_login {
}

#main_login {
    height: 70vh;
}

#footer_login {
}
