#page_container_reader {
    background-image: url("https://images.pexels.com/photos/2078266/pexels-photo-2078266.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#reader_page {
    background-color: #e8e8e8;
}

#reader_page_content {

}

#cover_reader {
    background-color: rgba(#000000, 0.6);
    box-shadow: 0 0 24px 2px black inset;
    z-index: -1;
}
