#page_container_reader {
    background-image: url("https://images.pexels.com/photos/3800468/pexels-photo-3800468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#reader_sidepanel {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    background-color: green;
    white-space: nowrap;
    &.closed {
        width: 0px;
        transition: 0.25s;
    }
    transition: 0.25s;
    #reader_sidepanel_togglebutton {
        position: relative;
        left: 0;
        top: 0;
        border: 1px solid orange;
    }

    #reader_sidepanel_title {
        background-color: black;
        border-radius: 8px;
        padding: 0.3rem;    
        hr {
            margin: 1rem 3rem;
        }
        h1, h2 {
            font-family: "EB Garamond";
        }
        h5 {
            font-family: "Montserrat";
        }
    }

    #reader_sidepanel_booktype {
        background-color: black;
        border-radius: 8px;
        h3 {
            font-family: "Montserrat";
        }
    }

    #reader_sidepanel_coauthors {
        background-color: black;
        border-radius: 8px;
        font-family: "Montserrat";
    }

    #reader_sidepanel_chapterlist {
        background-color: black;
        border-radius: 8px;
        font-family: "Montserrat";
    }
}

#reader_viewport {
    overflow-y: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

    #reader_page {
        background-color: #e8e8e8;
        max-height: 100%;
        height: 100%;
        width: 650px;
        height: 95%;
    }

    #reader_page_content {
        overflow-y: scroll;
        max-height: 100%;
        height: 100%;
        font-family: "EB Garamond", serif;  
        p {
            font-size: 1.15rem;
        }
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
        blockquote {
            border-left: 2px solid darkgray;
            text-align: left;
            padding: 1rem 1.5rem;
        }
        span {
            background-color: rgba(#b7aa91, 0.25);
        }
        div {
            padding: 1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            background-color: rgba(#b7aa91, 0.25);
            font-family: "Montserrat";
            font-size: 0.9rem;
        }
        ul {
            list-style-type: square;
        }
    }

    #reader_page_markdown {
        font-family: "Montserrat";     
        position: relative;
        white-space: pre-wrap;
        padding: 0;
        textarea {
            position: absolute;
            overflow-x: hidden;
            background: none;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            resize: none; 
            border: none;
            font-size: 0.9rem;
        }
    }

    .reader_page_button {
        text-align: center;
        font-size: 2rem;
        margin: 2rem;
        i {
            transition: 0.15s;
            color: white;    
            &:hover {
                color: darkgray;
                transition: 0.15s;
            }
        }
    }
}

#reader_button_openeditor {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(#000000, 0.5);
    border: 1px solid rgba(#ffffff, 0.5);
    margin: 2.5rem;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    i {
        color: white;
        transition: 0.15s;
    }
    &:hover {
        i {
            color: darkgray;
            transition: 0.15s;
        }
    }
}


#cover_reader {
    background-color: rgba(#000000, 0.7);
    box-shadow: 0 0 24px 24px black inset;
    z-index: -1;
}
