#page_container_register {
    background-image:
    url("https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    box-shadow: 0 0 24px 2px black inset;
}

#page_wrapper_register {
    background-color: rgba(#000000, 0.8);
}

#blurb {
    background-color: rgba(#000000, 0.3);
}
