<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Libraries</title>
		<meta name="description" content="Library control panel for Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body id="page_container_controlpanel">
        <div id="page_wrapper_controlpanel" class="container d-flex flex-column
            vh-100">
            <%- include("../partials/controlpanel-header.ejs", user)%>
            <%- include ("../partials/controlpanel-libraries.ejs", user)%>
            <%- include ("../partials/controlpanel-createprompt.ejs", user)%>
        </div>
        <div id="form_create_new_library" class="hidden">
            <form action="/library/create" method="POST">
                <input type="text" name="name" required> 
                <textarea name="description" cols="40" rows="20" required></textarea>
                <button type="submit">Create</button>
            </form>
        </div>
        <div id="cover_controlpanel" class="fixed-top vh-100 vw-100"></div>
        <!-- <button id="button_create_new_library">Create New Library</button>-->
        <script src="/js/librarycontrols.js"></script>
	</body>
</html>

