<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Libraries</title>
		<meta name="description" content="Library control panel for Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            .hidden {
                display: none;
            }
            #reader_page_markdown {
                white-space: pre-wrap;
            }
        </style>
	</head>

	<body>
        <h1>Your Libraries</h1>
        <hr>
        <div>
            <% if(user.libraries.length > 0) { %> 
                <% user.libraries.forEach((library) => { %>
                    <div>
                        <h3><%= library.name %></h3>
                        <hr>
                        <p><%= library.description %></p>
                        <h4><%= library.books.length %> books</h4>
                        <a href="/library/<%= library.id %>">Open</a>
                    </div>
                <% }); %>
            <% } else { %>
                <h2>You have no libraries!</h2>
                <button>Create New Library</button>
            <% } %>
        </div>
        <div id="form_create_new_library" class="hidden">
            <form action="/library/create" method="POST">
                <input type="text" name="name" required> 
                <textarea name="description" cols="40" rows="20" required></textarea>
                <button type="submit">Create</button>
            </form>
        </div>
        <button id="button_create_new_library">Create New Library</button>
        <script src="/js/librarycontrols.js"></script>
	</body>
</html>

