<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title>Skalver | <%= library.name %></title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body id="page_container_library" class="d-flex flex-column vh-100">
        <%- include ("../partials/library-header.ejs") %>
        <main class="flex-grow-1">
            <%- include ("../partials/library-section-container.ejs", {sections: library.sections}) %>
        </main>
        <footer>
            <p>footer here</p>
        </footer>
	</body>
</html>

