<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title>Skalver | <%= library.name %></title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body id="page_container_library" class="d-flex flex-column vh-100">
        <%- include ("../partials/library-header.ejs") %>
        <main id="library_browse_container" class="container flex-grow-1 p-1
            my-2 rounded">
            <% library.sections.forEach((section) => { %>
                <%- include("../partials/library-browse-section.ejs", {section: section})%>
            <% }); %>
        </main>
        <footer id="library_footer" class="row w-100 m-0">
            <div class="col-9 text-light">
                <p>Footer content</p>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column">
                    <button class="btn btn-success">Create New Section</button>
                    <button class="btn btn-success">Create New Book</button>
                </div>
            </div>
        </footer>
	</body>
</html>

