<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Dashboard</title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
        <main id="main_login" class="container align-items-center">
            <div class="row">
                <div class="m-5 col col-md-4">
                    <form action="/login" method="POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                            placeholder="Username" name="username" required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                            placeholder="Password" name="password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form> 
                    <div>
                        <p>Don't have an account?</p>
                        <a href="/register">Register here!</a>
                    </div>
                </div>    
                <div class="m-5 col-4">
                    <p>Welcome to Skalver - The web app for worldbuilders and
                    writers looking to structure their work without overbearing
                    user interfaces and complicated features getting in the way
                    of what really matters: writing.</p>
                </div>
            </div>
        </main>
	</body>
</html>

