<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Dashboard</title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body id="page_container_login" class="d-flex h-100">
        <div class="d-flex w-100 h-100 mx-auto flex-column">

            <header class="mb-auto">
                <div class="row">
                    <div class="col-4 text-light">
                        <h1>Skalver</h1>
                        <p><em>The distraction free worldbuilding tool</em></p>
                    </div>
                    <div class="col-6">
                        <nav>
                            <a href="/about">About</a>
                            <a href="/feedback">Feedback</a>
                        </nav> 
                    </div>
                    <button class="btn btn-outline-primary col-2">Register</button>
                </div>
            </header>

            <main class="px-3">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </main>

            <footer class="mt-auto">
                <div class="row">
                    <div class="col-8">
                        <h4>Image Credits</h4>
                        <ul>
                            <li><a href="https://www.pexels.com/@francesco-ungaro?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Francesco Ungaro</a></li>
                            <li><a href="https://www.pexels.com/@chuck?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Wallace Chuck</a></li>
                        </ul>
                    </div>

                </div>
            </footer>

        </div>
	</body>
</html>

