<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Skalver | Dashboard</title>
		<meta name="description" content="Dashboard of Skalver web app"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
        <div id="page_container_login" class="container vh-100">
            <header id="header_login" class="row align-items-start">
                <h1 class="text-center">Skalver</h1>
                <p class="text-center">The distraction-free worldbuiling tool</p>
            </header>

            <main id="main_login" class="row align-items-start">
                <div class="col-7 mt-5">
                    <form action="/login" method="POST">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                            placeholder="Username" name="username" required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword"
                            placeholder="Password" name="password" required>
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Login</button>
                    </form> 
                </div>
                <div class="col-5 mt-5">
                    <p>Welcome to Skalver - The web app for worldbuilders and
                    writers looking to structure their work without overbearing
                    user interfaces and complicated features getting in the way
                    of what really matters: writing.</p>
                </div>
            </main>

            <footer id="footer_login" class="row align-items-center">
                <p class="col-8">Image credits goes here and such</p>
                <p class="col-4">Links and stuff</p>
            </footer>
        </div>
	</body>
</html>

