@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "vendors/vendors";

// Default variable overrides
// == COLORS ==

// == PAGES ==
@import "pages/login";
@import "pages/register";
@import "pages/read";
@import "pages/dashboard";
@import "pages/library";

textarea {
    resize: none;
}

.hidden {
    display: none;
}

// Bootstrap Overrides
h1, h2, h3 {
    font-family: "EB Garamond";
}

button, a {
    font-family: "Montserrat";
}

button, .btn {
    border-radius: 0.1rem;
}
